language: python
python:
 - "3.3"
 - "3.4"
 - "3.5"
 - "3.6"
# command to install dependencies
install:
  - "pip install -r requirements.txt"
  - "pip install coveralls"
# command to run tests
script: cd tests/Exscript/; travis_wait coverage run --source=Exscript ./run_suite.py
after_success:
  coveralls
