<!--
This is the Exscript daemon configuration file.
-->

<xml>
  <!--
  The user accounts used by the Exscript daemon.
  Passwords are base64 encrypted!
  -->
  <account-pool name="default">
    <account>
      <user>user1</user>
      <password></password>
    </account>
    <account>
      <user>user2</user>
      <password></password>
    </account>
  </account-pool>

  <!--
  Another account pool that we use for defining users
  that may log into the HTTP REST API.
  -->
  <account-pool name="rest-accounts">
    <account>
      <user>exscript-rest</user>
      <password>ZXhzY3JpcHQtcmVzdA==</password>
    </account>
  </account-pool>

  <!--
  Database configuration. The following databases are supported:
    Tested: sqlite
    Untested: Any other database supported by SQLAlchemy.
  -->
  <database name="default">
    <dbn>sqlite:////var/spool/exscriptd/db.sqlite</dbn>
  </database>

  <!--
  Exscript queue configuration.
  You may define any number of queues in this file.
  -->
  <queue name="default-queue">
    <max-threads>5</max-threads>
    <delete-logs/>
    <account-pool>default</account-pool>
  </queue>

  <!--
  An HTTP daemon providing a REST API.
  You may define only one daemon at this time.
  -->
  <daemon type="rest" name="rest-daemon">
    <!-- An empty address binds to all. -->
    <address></address>
    <port>8123</port>

    <logdir>/var/log/exscriptd</logdir>
    <account-pool>rest-accounts</account-pool>
    <database>default</database>
    <!--
    <load-service name="foobar" path="/path/to/my/test.xml">
      <queue>default-queue</queue>
    </load-service>
    -->
  </daemon>
</xml>
