<!--
This is the Exscript daemon configuration file.
-->

<xml>
  <!--
  The user accounts used by the Exscript daemon.
  Passwords are base64 encrypted!
  -->
  <account-pool name="default">
    <account>
      <user>user1</user>
      <password></password>
    </account>
    <account>
      <user>user2</user>
      <password></password>
    </account>
  </account-pool>

  <!--
  Database configuration. The following databases are supported:
    Tested: sqlite
    Untested: Any other database supported by SQLAlchemy.
  -->
  <database name="default">
    <dbn>sqlite:////var/spool/exscriptd/db.sqlite</dbn>
  </database>

  <!--
  Exscript queue configuration.
  You may define any number of queues in this file.
  -->
  <queue name="default-queue">
    <max-threads>5</max-threads>
    <logdir>/var/log/exscriptd</logdir>
    <delete-logs/>
    <account-pool>default</account-pool>
  </queue>

  <!--
  Exscript daemon configuration.
  You may define only one daemon at this time.
  -->
  <daemon type="inotify" name="exscript-daemon">
    <directory>/var/spool/exscriptd</directory>
    <database>default</database>
    <!--
    <load-service name="foobar" path="/path/to/my/test.xml">
      <queue>default-queue</queue>
      <autoqueue/>
    </load-service>
    -->
  </daemon>
</xml>
