[MASTER]
# Add <file or directory> to the black list. It should be a base name, not a
# path. You may set this option multiple times.
ignore=CVS
ignore=otp

[REPORTS]

# Set the output format. Available formats are text, parseable, colorized, msvs
# (visual studio) and html
output-format=text

# Tells whether to display a full report or only the messages
reports=yes

[VARIABLES]

# Tells whether we should check for unused import in __init__ files.
init-import=no

# A regular expression matching names used for dummy variables (i.e. not used).
dummy-variables-rgx=_

[TYPECHECK]

# Tells whether missing members accessed in mixin class should be ignored. A
# mixin class is detected if its name ends with "mixin" (case insensitive).
ignore-mixin-members=yes

[BASIC]

# Regular expression which should only match functions or classes name which do
# not require a docstring
no-docstring-rgx=_.*

# Module-level variables
const-rgx=([A-Za-z_][A-Za-z0-9_]*|__.*__)$

# Good variable names which should always be accepted, separated by a comma
good-names=i,e,_

[DESIGN]

# Maximum number of attributes for a class (see R0902).
max-attributes=10

# Maximum number of public methods for a class (see R0904).
max-public-methods=22

[CLASSES]

# List of method names used to declare (i.e. assign) instance attributes.
defining-attr-methods=__init__,__new__,setUp
